.responsive-menu {
    @media only screen and (max-width: 575px) {
        display: block;
    }

    display: none;

    .icon {


        position: fixed;
        top: 15%;
        right: 3%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 2;



        .hamburger {
            &.hide {
                transition: 0s;
             }
            margin-bottom: 10px;
            width: 50px;
            height: 6px;
            background-color: $blue-text-color;
            position: relative;
            top: 50%;
            left: 50%;

            transition: 0.3s;

            &.active1 {
                &.hide {
                   visibility: hidden;
                }

            }

            &:first-child {
                &.active1 {
                    
                    top: 77%;
                    transform: rotate(45deg);

                }
            }

            &:last-child {
                &.active1 {
                   
                    transform: rotate(-45deg);
                    top: 23%;
                }
            }
        }

    }

    .burger-menu {
        display: none;
        transition: 0.3s;
        position: fixed;
        right: 5%;
        top: 10%;
        width: 140px;
        z-index: 1;

        &.active {
            display: block;
        }

        ul.main-menu {

            list-style: none;
            padding: 0;
            background: $light-background;
            border: 1px solid $border-light-dark;

            li {
                text-decoration: none;
                margin-top: 5px;
                margin-bottom: 5px;

                a {
                    color: $grey-text-color;
                    font-size: $font-size;
                    line-height: $font-size;
                    margin-left: 12px;
                    margin-right: 12px;
                    text-decoration: none;

                    &:hover {
                        padding-bottom: 5px;
                        font-size: $font-size + 4px;
                        border-bottom: 1px solid $blue-text-color;
                        color: $blue-text-color;
                    }
                }
            }

        }


    }

}