.carusel {
    background: #15141a url(../img/Warstwa_8.png) no-repeat center top {
        size: 100%;
    }

    padding: 65px 0 60px;
    @media only screen and (max-width: 1199px) {
        padding: 35px 0 30px;
      }
      @media only screen and (max-width: 575px) {
       display: none;
      }

    #slides {
        position: relative;
        min-height: 270px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        @media only screen and (max-width: 991px) {
            min-height: 180px;
          }
          @media only screen and (max-width: 767px) {
            min-height: 130px;
          }
    }

    .slide {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 1s;
        font-size: 15px;

        box-sizing: border-box;
        color: #fff;

        p {
            font-style: italic;
            font-size: $font-size-for-h3;
            line-height: $font-size + 13px;
            letter-spacing: -0.5px;
            margin-bottom: 26px;
            @media only screen and (max-width: 1199px) {
                font-size: $font-size-for-h3 - 4px;
                line-height: $font-size + 8px;
                
              }
              @media only screen and (max-width: 991px) {
                font-size: $font-size-for-h3 - 8px;
                line-height: $font-size + 6px;
                
              }
              @media only screen and (max-width: 767px) {
                font-size: $font-size-for-h3 - 12px;
                line-height: $font-size;
                margin-bottom: 10px;
              }
              
        }

        .name-content {

img {
    max-width: 100%;
}
            p {
                font-style: normal;
                font-size: $font-size;
                line-height: $font-size;
                font-weight: 700;
                @media only screen and (max-width: 991px) {
                    font-size: $font-size - 4px;
                    line-height: $font-size - 4px;
                    
                  }
              

                &:first-child {
                    font-weight: 400;
                    margin-bottom: 16px;
                    margin-top: 6px;
                    @media only screen and (max-width: 991px) {
                        margin-bottom: 8px;
                        margin-top:0;
                        
                      }
                }
            }

        }

    }


    .showing {
        opacity: 1;
        z-index: 2;
    }

    h5 {
        @extend %for-h5;
        text-align: center;
        margin-bottom: 20px;
        @media only screen and (max-width: 991px) {
            margin-bottom: 10px;
          }
          @media only screen and (max-width: 767px) {
            margin-bottom: 5px;
          }
          
    }

    h2 {
        text-align: center;
        color: $white-text-color;
        font-size: $font-size-for-h2;
        line-height: 30px;
        font-weight: 400;
        @media only screen and (max-width: 767px) {
            font-size: $font-size-for-h2 - 6px;
            line-height: 24px;
          }
    }

    .line {
        margin-top: 29px;
        margin-bottom: 90px;
        @media only screen and (max-width: 1270px) {
            margin-bottom: 40px;
            margin-top: 15px;
                
          }
          @media only screen and (max-width: 991px) {
            margin-bottom: 10px;
            margin-top: 6px;
          }
          @media only screen and (max-width: 767px) {
           margin: 0;
          }
        text-align: center;

    }

    .carusel-nav {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: opacity 1s;

        .round {
            cursor: pointer;
            display: inline-block;
            width: 8px;
            height: 8px;
            border: 1px solid $border-light-dark;
            border-radius: 50%;
            background-color: transparent $light-background;
            margin-left: 11px;
            margin-right: 11px;
        }

        .active {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $light-background;
        }

    }


}