.dip_into_the_details {
    margin-top: 196px;

    @media only screen and (max-width: 991px) {
        margin-top: 140px;
      }
      @media only screen and (max-width: 767px) {
        margin-top: 120px;
      }
      
    text-align: left;

    .phone-img {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            background: url(../img/devices-full.png) no-repeat;
            width: 510px;
            height: 621px;
            top: -53px;
            left: 0;
            @media only screen and (max-width: 1199px) {
             background-size: 80%;
              }
              @media only screen and (max-width: 991px) {
                background-size: 60%; 
              }
              
              
        }

    }

    h5 {
        @extend %for-h5;
        margin-bottom: 6px;
    }

    h2 {
        @extend %for-h2;
    }

    p {
        color: $grey-text-color;
    }


    .line {
        margin: 32px 0;
    }

    table {
        margin: 40px 0 203px;
        @media only screen and (max-width: 1199px) {
            margin: 40px 0 103px;
             }

        font-size:$font-size-l;
        line-height: $font-size * 2 - 2px;

        .tr_for_img {
            display: inline-block;
            width: 16px;
            height: 16px;
            position: relative;
            margin-right: 8px;

            img {
                @extend %for-img-responsive;
            }
        }
    }

}
.dip_into_the_details_second-part {
    background: $light-background;
    background-size: 100%;

    h5 {
        padding-top: 132px;
        @media only screen and (max-width: 991px) {
            padding-top: 60px;
          }
          
        @extend %for-h5;
        margin-bottom: 6px;
    }

    h2 {
        @extend %for-h2;
    }

    p {
        color: $grey-text-color;
        @media only screen and (max-width: 1199px) {
            margin-bottom: 50px;
          }
    }

    .line {
        margin: 32px 0;
    }

    .box-for-img {
        padding-top: 33px;
        @media only screen and (max-width: 991px) {
            padding-top: 50px;
          }
          
        img {
            max-width: 100%;
        }
    }

}