.main-footer {
    z-index: 2;
    background: $dark-background;
    padding-top: 58px;
    padding-bottom: 45px;
    margin-top: -5px;
     text-align: center;
    .soc-img {
       
        justify-content: space-around;
        display: flex;
        img {
            display: inline-block;
            max-width: 100%;
        }
    }
    p {
        font-size: $font-size-sm;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 31px;
    }
    
}