$white-text-color: rgb(255, 254, 254);

$blue-text-color: hsl(200, 100%, 42%);
$grey-text-color: rgb(153, 153, 153);

$dark-background: rgb(15, 14, 14);
$light-background: rgb(248, 248, 248);
$background-for-contact: rgb(237, 237, 237);
$border-light: rgb(224, 224, 224);
$border-light-dark: rgba(255, 255, 255, 0.2);


$font-size: 16px;
$font-size-l: 18px;
$font-size-sm: 14px;
$font-size-for-h1: 48px;
$font-size-for-h2: 36px;
$font-size-for-h3: 24px;
$font-size-for-button: 12px;



%for-placeholder {
    &::-webkit-input-placeholder {
        color: $border-light-dark;
        text-transform: uppercase;
        font-size: $font-size-sm;

    }

    &::-moz-placeholder {
        color: $border-light-dark;
        text-transform: uppercase;
        font-size: $font-size-sm;

    }

    /* Firefox 19+ */
    &:-moz-placeholder {
        color: $border-light-dark;
        text-transform: uppercase;
        font-size: $font-size-sm;

    }

    /* Firefox 18- */
    &:-ms-input-placeholder {
        color: $border-light-dark;
        text-transform: uppercase;
        font-size: $font-size-sm;

    }
}


%for-button {
    cursor: pointer;
    padding: 19px 27px;
    font-size: $font-size-for-button;
    line-height: $font-size-for-button - 2px;
    box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;

    @media only screen and (max-width: 991px) {
        font-size: $font-size-for-button -2px;
    }

    @media only screen and (max-width: 575px) {
        padding: 14px 22px;
    }
}

%for-button-download {
    background: $blue-text-color;
    margin-right: 20px;
    color: $white-text-color;

}

%for-button-active {
    color: $white-text-color!important;
    background: $blue-text-color!important;
    border: none!important;
}

%for-button-features {
    background: transparent;
    color: $white-text-color;
    border: 1px solid $border-light-dark;
}

%for-button-order {
    border: 1px solid $border-light;
    background: transparent;
    color: $blue-text-color;
}




%for-h5 {
    color: $blue-text-color;
    font-size: $font-size-sm;
    text-transform: uppercase;
    font-weight: 700;

    @media screen and (max-width: 991px) {
        font-size: $font-size-sm - 2px;
    }

}

%for-h2 {
    font-size: $font-size-for-h2;
    line-height: $font-size-for-h2 - 10px;
    font-weight: 600;

    @media screen and (max-width: 991px) {
        font-size: $font-size-for-h2 - 6px;
    }

    @media only screen and (max-width: 575px) {
        font-size: $font-size-for-h2 - 8px;
    }
}

%for-img-responsive {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


* {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

body {

    br {
        @media only screen and (max-width: 1199px) {
            display: none;
        }

    }


    font-family: 'Source Sans Pro',
    sans-serif;
    font-weight: 400;
    @import 'first-section';
    @import 'product-overview';
    @import 'dip-into-the-details';
    @import 'carusel';
    @import 'get-theme';
    @import 'contact-us';
    @import 'footer';
    @import 'burger-menu';



    #updown {
        height: 32px;
        width: 32px;
        position: fixed;
        bottom: 30px;
        right: 10px;
        cursor: pointer;
        display: none;
        background: url(../img/chevron-arrow-up.png);
       transition: .1s;

        &.show {
            display: block;
        }

    }
    

}