body .contact-us form .first input, body .contact-us form .second textarea {
  /* Firefox 19+ */
  /* Firefox 18- */ }
  body .contact-us form .first input::-webkit-input-placeholder, body .contact-us form .second textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-size: 14px; }
  body .contact-us form .first input::-moz-placeholder, body .contact-us form .second textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-size: 14px; }
  body .contact-us form .first input:-moz-placeholder, body .contact-us form .second textarea:-moz-placeholder {
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-size: 14px; }
  body .contact-us form .first input:-ms-input-placeholder, body .contact-us form .second textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-size: 14px; }

body .first-section .introducing button, body .get-theme .button button, body .plans .plans-wrapper tr .information button, body .contact-us form .second button {
  cursor: pointer;
  padding: 19px 27px;
  font-size: 12px;
  line-height: 10px;
  box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700; }
  @media only screen and (max-width: 991px) {
    body .first-section .introducing button, body .get-theme .button button, body .plans .plans-wrapper tr .information button, body .contact-us form .second button {
      font-size: 12px -2px; } }
  @media only screen and (max-width: 575px) {
    body .first-section .introducing button, body .get-theme .button button, body .plans .plans-wrapper tr .information button, body .contact-us form .second button {
      padding: 14px 22px; } }

body .first-section .introducing button.download, body .get-theme .button button.download {
  background: #008fd6;
  margin-right: 20px;
  color: #fffefe; }

body .plans .plans-wrapper:hover button {
  color: #fffefe !important;
  background: #008fd6 !important;
  border: none !important; }

body .first-section .introducing button.features, body .get-theme .button button.features {
  background: transparent;
  color: #fffefe;
  border: 1px solid rgba(255, 255, 255, 0.2); }

body .plans .plans-wrapper tr .information button {
  border: 1px solid #e0e0e0;
  background: transparent;
  color: #008fd6; }

body .first-section .introducing h5, body .product-overviev h5, body .dip_into_the_details h5, body .dip_into_the_details_second-part h5, body .carusel h5, body .plans h5, body .contact-us h5 {
  color: #008fd6;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700; }
  @media screen and (max-width: 991px) {
    body .first-section .introducing h5, body .product-overviev h5, body .dip_into_the_details h5, body .dip_into_the_details_second-part h5, body .carusel h5, body .plans h5, body .contact-us h5 {
      font-size: 12px; } }

body .product-overviev h2, body .dip_into_the_details h2, body .dip_into_the_details_second-part h2, body .plans h2, body .contact-us h2 {
  font-size: 36px;
  line-height: 26px;
  font-weight: 600; }
  @media screen and (max-width: 991px) {
    body .product-overviev h2, body .dip_into_the_details h2, body .dip_into_the_details_second-part h2, body .plans h2, body .contact-us h2 {
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    body .product-overviev h2, body .dip_into_the_details h2, body .dip_into_the_details_second-part h2, body .plans h2, body .contact-us h2 {
      font-size: 28px; } }

body .product-overviev .img-wrappen img, body .dip_into_the_details table .tr_for_img img, body .contact-us .block-contact .contact-img img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

* {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; }
  @media only screen and (max-width: 1199px) {
    body br {
      display: none; } }
  body .first-section {
    background: #0f0e0e url(../img/photo.png) no-repeat top center;
    background-size: auto;
    padding-top: 42px; }
    @media only screen and (max-width: 575px) {
      body .first-section {
        background: #0f0e0e; } }
    @media only screen and (max-width: 575px) {
      body .first-section .menu-wrap {
        display: none; } }
    body .first-section .menu-wrap ul.main-menu {
      list-style: none;
      padding: 0;
      display: flex; }
      body .first-section .menu-wrap ul.main-menu li {
        text-decoration: none; }
        body .first-section .menu-wrap ul.main-menu li a {
          color: #fffefe;
          font-size: 16px;
          line-height: 16px;
          margin-left: 12px;
          margin-right: 12px;
          text-decoration: none; }
          @media only screen and (max-width: 1199px) {
            body .first-section .menu-wrap ul.main-menu li a {
              font-size: 14px;
              margin-left: 8px;
              margin-right: 8px; } }
          @media only screen and (max-width: 767px) {
            body .first-section .menu-wrap ul.main-menu li a {
              margin-left: 4px;
              margin-right: 4px; } }
          body .first-section .menu-wrap ul.main-menu li a:hover {
            padding-bottom: 5px;
            font-size: 20px;
            border-bottom: 1px solid #008fd6; }
    body .first-section .introducing {
      padding-top: 66px;
      position: relative;
      padding-bottom: 110px; }
      body .first-section .introducing h1 {
        margin-top: 30px;
        color: #fffefe;
        font-size: 48px;
        line-height: 48px;
        font-weight: 600; }
        @media only screen and (max-width: 1199px) {
          body .first-section .introducing h1 {
            font-size: 40px; } }
        @media only screen and (max-width: 375px) {
          body .first-section .introducing h1 {
            font-size: 30px; } }
      body .first-section .introducing p {
        margin: 36px 0 62px;
        line-height: 22px;
        color: #999999; }
      body .first-section .introducing:after {
        content: "";
        position: absolute;
        background: url(../img/devices.png) no-repeat;
        width: 505px;
        height: 519px;
        right: -18px;
        bottom: 0; }
        @media only screen and (max-width: 991px) {
          body .first-section .introducing:after {
            visibility: hidden; } }
  body .product-overviev {
    padding-top: 65px;
    text-align: center; }
    body .product-overviev h5 {
      margin-bottom: 6px; }
    body .product-overviev h3 {
      font-size: 24px;
      margin-bottom: 26px; }
    body .product-overviev .line {
      margin-top: 35px;
      margin-bottom: 74px; }
    body .product-overviev .img-wrappen {
      width: 88px;
      height: 88px;
      border-radius: 44px;
      border: 1px solid #e0e0e0;
      position: relative;
      display: inline-block;
      margin-bottom: 30px; }
    body .product-overviev p {
      color: #999999;
      font-size: 18px;
      line-height: 24px; }
      @media only screen and (max-width: 991px) {
        body .product-overviev p {
          font-size: 16px;
          line-height: 22px; } }
      @media only screen and (max-width: 767px) {
        body .product-overviev p {
          margin-bottom: 20px; } }
  body .dip_into_the_details {
    margin-top: 196px;
    text-align: left; }
    @media only screen and (max-width: 991px) {
      body .dip_into_the_details {
        margin-top: 140px; } }
    @media only screen and (max-width: 767px) {
      body .dip_into_the_details {
        margin-top: 120px; } }
    body .dip_into_the_details .phone-img {
      position: relative; }
      body .dip_into_the_details .phone-img:before {
        content: "";
        position: absolute;
        background: url(../img/devices-full.png) no-repeat;
        width: 510px;
        height: 621px;
        top: -53px;
        left: 0; }
        @media only screen and (max-width: 1199px) {
          body .dip_into_the_details .phone-img:before {
            background-size: 80%; } }
        @media only screen and (max-width: 991px) {
          body .dip_into_the_details .phone-img:before {
            background-size: 60%; } }
    body .dip_into_the_details h5 {
      margin-bottom: 6px; }
    body .dip_into_the_details p {
      color: #999999; }
    body .dip_into_the_details .line {
      margin: 32px 0; }
    body .dip_into_the_details table {
      margin: 40px 0 203px;
      font-size: 18px;
      line-height: 30px; }
      @media only screen and (max-width: 1199px) {
        body .dip_into_the_details table {
          margin: 40px 0 103px; } }
      body .dip_into_the_details table .tr_for_img {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        margin-right: 8px; }
  body .dip_into_the_details_second-part {
    background: #f8f8f8;
    background-size: 100%; }
    body .dip_into_the_details_second-part h5 {
      padding-top: 132px;
      margin-bottom: 6px; }
      @media only screen and (max-width: 991px) {
        body .dip_into_the_details_second-part h5 {
          padding-top: 60px; } }
    body .dip_into_the_details_second-part p {
      color: #999999; }
      @media only screen and (max-width: 1199px) {
        body .dip_into_the_details_second-part p {
          margin-bottom: 50px; } }
    body .dip_into_the_details_second-part .line {
      margin: 32px 0; }
    body .dip_into_the_details_second-part .box-for-img {
      padding-top: 33px; }
      @media only screen and (max-width: 991px) {
        body .dip_into_the_details_second-part .box-for-img {
          padding-top: 50px; } }
      body .dip_into_the_details_second-part .box-for-img img {
        max-width: 100%; }
  body .carusel {
    background: #15141a url(../img/Warstwa_8.png) no-repeat center top;
      background-size: 100%;
    padding: 65px 0 60px; }
    @media only screen and (max-width: 1199px) {
      body .carusel {
        padding: 35px 0 30px; } }
    @media only screen and (max-width: 575px) {
      body .carusel {
        display: none; } }
    body .carusel #slides {
      position: relative;
      min-height: 270px;
      padding: 0px;
      margin: 0px;
      list-style-type: none; }
      @media only screen and (max-width: 991px) {
        body .carusel #slides {
          min-height: 180px; } }
      @media only screen and (max-width: 767px) {
        body .carusel #slides {
          min-height: 130px; } }
    body .carusel .slide {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      transition: opacity 1s;
      font-size: 15px;
      box-sizing: border-box;
      color: #fff; }
      body .carusel .slide p {
        font-style: italic;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.5px;
        margin-bottom: 26px; }
        @media only screen and (max-width: 1199px) {
          body .carusel .slide p {
            font-size: 20px;
            line-height: 24px; } }
        @media only screen and (max-width: 991px) {
          body .carusel .slide p {
            font-size: 16px;
            line-height: 22px; } }
        @media only screen and (max-width: 767px) {
          body .carusel .slide p {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 10px; } }
      body .carusel .slide .name-content img {
        max-width: 100%; }
      body .carusel .slide .name-content p {
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700; }
        @media only screen and (max-width: 991px) {
          body .carusel .slide .name-content p {
            font-size: 12px;
            line-height: 12px; } }
        body .carusel .slide .name-content p:first-child {
          font-weight: 400;
          margin-bottom: 16px;
          margin-top: 6px; }
          @media only screen and (max-width: 991px) {
            body .carusel .slide .name-content p:first-child {
              margin-bottom: 8px;
              margin-top: 0; } }
    body .carusel .showing {
      opacity: 1;
      z-index: 2; }
    body .carusel h5 {
      text-align: center;
      margin-bottom: 20px; }
      @media only screen and (max-width: 991px) {
        body .carusel h5 {
          margin-bottom: 10px; } }
      @media only screen and (max-width: 767px) {
        body .carusel h5 {
          margin-bottom: 5px; } }
    body .carusel h2 {
      text-align: center;
      color: #fffefe;
      font-size: 36px;
      line-height: 30px;
      font-weight: 400; }
      @media only screen and (max-width: 767px) {
        body .carusel h2 {
          font-size: 30px;
          line-height: 24px; } }
    body .carusel .line {
      margin-top: 29px;
      margin-bottom: 90px;
      text-align: center; }
      @media only screen and (max-width: 1270px) {
        body .carusel .line {
          margin-bottom: 40px;
          margin-top: 15px; } }
      @media only screen and (max-width: 991px) {
        body .carusel .line {
          margin-bottom: 10px;
          margin-top: 6px; } }
      @media only screen and (max-width: 767px) {
        body .carusel .line {
          margin: 0; } }
    body .carusel .carusel-nav {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      transition: opacity 1s; }
      body .carusel .carusel-nav .round {
        cursor: pointer;
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        background-color: transparent #f8f8f8;
        margin-left: 11px;
        margin-right: 11px; }
      body .carusel .carusel-nav .active {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #f8f8f8; }
  body .get-theme {
    background: #15141a;
    padding: 69px 0 66px;
    margin-top: -2px; }
    body .get-theme h2 {
      color: #fffefe;
      font-size: 36px; }
      body .get-theme h2 span {
        font-weight: 300; }
    body .get-theme .button {
      text-align: end;
      margin-top: 10px; }
      body .get-theme .button button.download {
        color: #fffefe;
        margin: 0; }
      body .get-theme .button button.features {
        margin-right: 20px; }
  body .plans {
    padding-top: 60px;
    padding-bottom: 90px;
    text-align: center; }
    @media only screen and (max-width: 1199px) {
      body .plans {
        padding-top: 40px;
        padding-bottom: 60px; } }
    body .plans h5 {
      margin-bottom: 25px; }
    body .plans .line {
      margin-top: 28px;
      margin-bottom: 70px; }
      @media only screen and (max-width: 1199px) {
        body .plans .line {
          margin-top: 10px;
          margin-bottom: 20px; } }
    body .plans .plans-wrapper {
      width: 100%;
      height: 100%; }
      body .plans .plans-wrapper tr {
        border: 1px solid #e0e0e0; }
        body .plans .plans-wrapper tr .type {
          padding-top: 29px;
          padding-bottom: 25px;
          font-size: 24px;
          text-transform: uppercase;
          font-weight: 700; }
          @media only screen and (max-width: 991px) {
            body .plans .plans-wrapper tr .type {
              padding-top: 19px;
              padding-bottom: 15px;
              font-size: 22px; } }
        body .plans .plans-wrapper tr .costs {
          padding: 43px 0 35px;
          font-size: 60px;
          line-height: 36px;
          font-weight: 600; }
          @media only screen and (max-width: 767px) {
            body .plans .plans-wrapper tr .costs {
              padding: 23px 0 15px; } }
          body .plans .plans-wrapper tr .costs .dol {
            font-size: 36px;
            line-height: 24px;
            vertical-align: top; }
          body .plans .plans-wrapper tr .costs span.after {
            font-size: 18px;
            color: #999999; }
        body .plans .plans-wrapper tr .information {
          padding: 54px 0 40px;
          font-size: 18px;
          color: #999999;
          line-height: 18px; }
          @media only screen and (max-width: 767px) {
            body .plans .plans-wrapper tr .information {
              padding: 24px 5px 15px;
              font-size: 16px; } }
          body .plans .plans-wrapper tr .information span {
            color: #008fd6; }
          body .plans .plans-wrapper tr .information button {
            margin-top: 44px;
            margin-bottom: 29px; }
            @media only screen and (max-width: 767px) {
              body .plans .plans-wrapper tr .information button {
                margin-top: 30px;
                margin-bottom: 15px; } }
      body .plans .plans-wrapper:hover .type {
        color: #008fd6; }
      body .plans .plans-wrapper:hover .costs {
        background: #008fd6;
        color: #fffefe; }
        body .plans .plans-wrapper:hover .costs span.after {
          color: #fffefe; }
  body .contact-us {
    padding-bottom: 395px;
    padding-top: 60px;
    background-color: #ededed;
    position: relative; }
    @media only screen and (max-width: 1199px) {
      body .contact-us {
        padding-bottom: 330px;
        padding-top: 40px; } }
    @media only screen and (max-width: 767px) {
      body .contact-us {
        padding-bottom: 250px; } }
    @media only screen and (max-width: 375px) {
      body .contact-us {
        padding-bottom: 270px; } }
    body .contact-us h5 {
      margin-bottom: 28px; }
    body .contact-us .line {
      margin: 36px 0 59px; }
      @media only screen and (max-width: 1199px) {
        body .contact-us .line {
          margin: 20px 0 15px; } }
    body .contact-us .block-contact {
      text-align: center; }
      body .contact-us .block-contact .contact-img {
        height: 32px;
        position: relative;
        margin-bottom: 30px; }
      body .contact-us .block-contact p {
        color: #999999;
        font-size: 18px;
        line-height: 22px; }
    body .contact-us form {
      z-index: 1;
      position: absolute;
      display: flex;
      bottom: -59px;
      left: 25%;
      padding: 59px 85px 0 66px;
      background-color: #0f0e0e; }
      @media only screen and (max-width: 575px) {
        body .contact-us form {
          display: inline-block; } }
      @media only screen and (max-width: 991px) {
        body .contact-us form {
          padding: 39px 65px 0 46px;
          bottom: -20px; } }
      @media only screen and (max-width: 767px) {
        body .contact-us form {
          padding: 20px 20px 0 20px;
          left: 27%;
          bottom: -25px; } }
      @media only screen and (max-width: 575px) {
        body .contact-us form {
          padding: 15px 15px 0 15px;
          left: 19%; } }
      @media only screen and (max-width: 375px) {
        body .contact-us form {
          bottom: 10px; } }
      body .contact-us form .first {
        margin-right: 19px; }
        body .contact-us form .first input {
          cursor: pointer;
          padding: 12px 0 12px 18px;
          background-color: transparent;
          display: block;
          margin-bottom: 20px;
          border: 1px solid rgba(255, 255, 255, 0.2); }
          body .contact-us form .first input:active, body .contact-us form .first input:hover {
            border-color: #008fd6; }
          @media only screen and (max-width: 991px) {
            body .contact-us form .first input {
              padding: 8px 0 8px 14px;
              margin-bottom: 10px; } }
          @media only screen and (max-width: 767px) {
            body .contact-us form .first input {
              padding: 5px 0;
              margin-bottom: 8px; } }
          @media only screen and (max-width: 575px) {
            body .contact-us form .first input {
              padding: 0; } }
      body .contact-us form .second textarea {
        cursor: pointer;
        padding-top: 19px;
        padding-left: 21px;
        background-color: transparent;
        height: 190px;
        width: 300px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 20px;
        color: #fffefe; }
        body .contact-us form .second textarea:active, body .contact-us form .second textarea:hover {
          border-color: #008fd6; }
        @media only screen and (max-width: 991px) {
          body .contact-us form .second textarea {
            height: 147px;
            width: 200px; } }
        @media only screen and (max-width: 767px) {
          body .contact-us form .second textarea {
            height: 137px;
            width: 150px; } }
        @media only screen and (max-width: 575px) {
          body .contact-us form .second textarea {
            width: 177px;
            height: 50px; } }
      body .contact-us form .second button {
        margin-bottom: 40px;
        margin-left: auto;
        display: block;
        background: #008fd6;
        color: #fffefe; }
        @media only screen and (max-width: 767px) {
          body .contact-us form .second button {
            margin-bottom: 30px; } }
        @media only screen and (max-width: 575px) {
          body .contact-us form .second button {
            margin-bottom: 15px; } }
  body .map {
    z-index: -1; }
    @media only screen and (max-width: 575px) {
      body .map {
        display: none; } }
  body .main-footer {
    z-index: 2;
    background: #0f0e0e;
    padding-top: 58px;
    padding-bottom: 45px;
    margin-top: -5px;
    text-align: center; }
    body .main-footer .soc-img {
      justify-content: space-around;
      display: flex; }
      body .main-footer .soc-img img {
        display: inline-block;
        max-width: 100%; }
    body .main-footer p {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 31px; }
  body .responsive-menu {
    display: none; }
    @media only screen and (max-width: 575px) {
      body .responsive-menu {
        display: block; } }
    body .responsive-menu .icon {
      position: fixed;
      top: 15%;
      right: 3%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      cursor: pointer;
      z-index: 2; }
      body .responsive-menu .icon .hamburger {
        margin-bottom: 10px;
        width: 50px;
        height: 6px;
        background-color: #008fd6;
        position: relative;
        top: 50%;
        left: 50%;
        transition: 0.3s; }
        body .responsive-menu .icon .hamburger.hide {
          transition: 0s; }
        body .responsive-menu .icon .hamburger.active1.hide {
          visibility: hidden; }
        body .responsive-menu .icon .hamburger:first-child.active1 {
          top: 77%;
          transform: rotate(45deg); }
        body .responsive-menu .icon .hamburger:last-child.active1 {
          transform: rotate(-45deg);
          top: 23%; }
    body .responsive-menu .burger-menu {
      display: none;
      transition: 0.3s;
      position: fixed;
      right: 5%;
      top: 10%;
      width: 140px;
      z-index: 1; }
      body .responsive-menu .burger-menu.active {
        display: block; }
      body .responsive-menu .burger-menu ul.main-menu {
        list-style: none;
        padding: 0;
        background: #f8f8f8;
        border: 1px solid rgba(255, 255, 255, 0.2); }
        body .responsive-menu .burger-menu ul.main-menu li {
          text-decoration: none;
          margin-top: 5px;
          margin-bottom: 5px; }
          body .responsive-menu .burger-menu ul.main-menu li a {
            color: #999999;
            font-size: 16px;
            line-height: 16px;
            margin-left: 12px;
            margin-right: 12px;
            text-decoration: none; }
            body .responsive-menu .burger-menu ul.main-menu li a:hover {
              padding-bottom: 5px;
              font-size: 20px;
              border-bottom: 1px solid #008fd6;
              color: #008fd6; }
  body #updown {
    height: 32px;
    width: 32px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    cursor: pointer;
    display: none;
    background: url(../img/chevron-arrow-up.png);
    transition: .1s; }
    body #updown.show {
      display: block; }

/*# sourceMappingURL=main.css.map */
